services:
  adaptixC2:
    container_name: adaptixC2
    image: adaptixc2:latest
    network_mode: host
    volumes:
      - ./profile.json:/app/profile.json
      - ./403page.html:/app/403page.html
      - ./server.rsa.crt:/app/server.rsa.crt
      - ./server.rsa.key:/app/server.rsa.key
      - /opt/AdaptixC2:/AdaptixC2
    command: ["./adaptixserver", "-profile", "profile.json"]
